.dip-container .dip,.dipstick-container .dip-select{
    z-index: -1;
    width:40 !important;
    height:42!important;
    position: relative;
}
.dip-select{
    display:none;
}
.dip-container, .dipstick-container{
    display: inline-block;
}
.hue{   
    display: flex; 
}
.hex{
    /*width = 97;
    height = 84;*/
    max-height: 100%;
     max-width: 100%;
}
.replaced-svg{
     width = 97;
    height = 84;
    max-height: 100%;
     max-width: 100%;
}
#grid_radius, #scale2text{
    width: 30px;
}
.warning{
    color: red;
    font-weight: bold;
}

.mode{
    display: inline-block;
    width: 49.5%;    
    font-size: x-large;
    font-weight: 600;
    color: white;
}
.mode-active{
    background-color: green;
}   
.mode-deactive{
    background-color: grey;
}
#paint{
    display:inline-block;
}
.paint-area{
    display: inline-block;
    padding-right: 20px;
}
.tooltip{
    color: #da0000;
    font-weight: bold;
    font-style: italic;
}